.cases {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}
.cases__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0, 03em;
  color: #212121;
  margin-bottom: 50px;
}
.case__title {
  display: flex;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  bottom: 72px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  bottom: 2px;
}
.cases__content {
  display: flex;
  gap: 30px;
  justify-content: center;
  position: relative;
}
