$baseColor: #212121;
$subBaseColor: #ffffff;
$activeColor: #2196f3;
$descriptionColor: #757575;
$subBackgroundColor: #f5f4fa;
$baseBackgroundColor: #2f303a;
$shadowColor: rgba(0, 0, 0, 0.15);
$mainBackground: rgba(47, 48, 58, 0.8);
$backdrop: #0000003e;
$borders: rgba(33, 33, 33, 0.2);
$borderColor: #eee;
$shadowSubColor: rgba(0, 0, 0, 0.2);
$shadow: rgba(0, 0, 0, 0.14);
$shadowSub: rgba(0, 0, 0, 0.12);
$portfolioOverlay: rgba(33, 150, 243, 0.9);
