* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  color: #212121;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.48px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  min-width: 320px;
  max-width: 1170px;
}

.logo {
  top: 15px;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1190px;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  gap: 53px;
}

.contacts {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  gap: 50px;
}

.nav__list li:hover {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts li:hover {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-image: url(/src/images/hero/img-desktop@1x.jpg);
  background-size: cover;
  height: 600px;
  align-items: center;
  text-align: center;
  display: flex;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(src/images/hero/img-desktop@2x.jpg);
  }
}

.hero__container {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.hero__title {
  width: 696px;
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  display: flex;
  margin: 0 auto;
}

.hero__button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 35%;
  padding-left: 30px;
  margin-top: 30px;
  border: rgba(33, 149, 243, 0.337254902);
}

.hero__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2431372549);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.effect {
  transform: translate(-50%, -50%) scale(1);
}

.form {
  padding-top: 12px;
}

.modal__button-close {
  position: fixed;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  border: none;
  font-weight: 700;
  font-size: 16.5px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover {
  color: #2196f3;
  transform: scale(1.25);
}

.modal__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.form__svg {
  width: 18px;
  height: 18px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 11px;
  margin-bottom: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input + .form__wrapper {
  border: 1px solid blue;
}

.form__input {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
}

.form__label {
  display: flex;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  padding-bottom: 4px;
}

.form__wrapper:focus-within {
  border-color: #2196f3;
}

.form__wrapper:focus-within .form__svg {
  fill: #2196f3;
}

textarea {
  width: 448px;
  resize: none;
  display: flex;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea#comment:focus {
  border-color: #2196f3;
}

.form__wrapper-check {
  display: flex;
  gap: 9px;
  align-items: center;
  padding-bottom: 30px;
}

#check {
  width: 16px;
  height: 15px;
  align-items: center;
  color: #000;
  outline: none;
}

.form__title {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.form__title-active {
  color: #2196f3;
  text-decoration: underline;
}

.form__button {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

.form__wrapper-button {
  display: flex;
  justify-content: center;
}

.advantages__container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 94px;
  margin-bottom: 118px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}

.advantage__title {
  color: #212121;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 270px;
  margin-bottom: 10px;
}

.advantage__text {
  color: #757575;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 270px;
  height: 72px;
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.advantage__photo {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.advantage__icon {
  fill: #212121;
}

.advantage__icon:hover {
  fill: #2196f3;
}

.cases {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.cases__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0, 3em;
  color: #212121;
  margin-bottom: 50px;
}

.case__title {
  display: flex;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  bottom: 72px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  bottom: 2px;
}

.cases__content {
  display: flex;
  gap: 30px;
  justify-content: center;
  position: relative;
}

.team {
  background-color: #f5f4fa;
  padding: 95px 0;
}

.team__container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.team__content {
  display: flex;
  gap: 30px;
}

.employee {
  flex-basis: calc((100% - 90px) / 4);
}

.team__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.employee__photo {
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  height: 368px;
  position: relative;
}

.employee__text {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  bottom: 108px;
}

.employee__name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.employee__position {
  color: #757575;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
}

.footer {
  background: #2f303a;
  display: flex;
  height: 252px;
  flex-direction: column;
  min-width: 1600px;
  justify-content: center;
  padding-left: 10%;
}

.list-contacts__link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.list-contacts__address {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  font-weight: 400;
}

.logo {
  width: 145px;
  height: 31px;
  margin-bottom: 20px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.list-contacts a:hover {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

.portfolio__categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  left: 380px;
}

.categories__item {
  line-height: 26px;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  border-radius: 4px;
  background: #f5f4fa;
}

.categories__item:hover {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.portfolio__content {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 32px;
  margin-top: 34px;
  overflow: hidden;
  padding-bottom: 114px;
}

.project {
  width: 370px;
  border: 1px solid #eee;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.project:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.project__overlay {
  padding: 20px 24px;
}

.project__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  padding-left: 20px;
}

.project__text {
  color: #757575;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  padding-left: 20px;
}

.project__overlay {
  transform: translateY(-100%);
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 294px;
  position: absolute;
  top: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
}

.overlay__text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding: 33px 24px;
}

.project:hover .project__overlay {
  transform: translateY(0%);
}